@model IEnumerable<TypeCommunication>


<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="breadcrumb-wrapper py-3 mb-4">
        <span class="text-muted fw-light">الأصناف /</span> أصناف الشكاوى
    </h4>
    <div class="card">
        <div class="card-body">
            <div class="card-body text-center">
                <div class="card-header">
                    <h5 class="card-title mb-0">اصناف الشكوى</h5>
                </div>
            </div>
            <div class="d-flex col-12 justify-content-between">
                <button class="btn btn-primary " onclick="location.href='@Url.Action("AddCategory", "GeneralFederation")'">
                    <span class="bx bx-plus me-0 me-lg-2">اضــــافة صنف </span>
                </button>
            </div>
            <br />
            <div class="table-responsive text-nowrap">
                <div class="card-datatable text-nowrap">
                    <table class="table table-bordered table table-bordered" id="dataTable" style="border-radius: 0.25rem;">

                        <thead>
                            <tr>

                                <th>
                                    اسم الصنف
                                </th>
                                <th>
                                    تاريخ الاضافة
                                </th>
                                <th>
                                    اسم مضيف الصنف
                                </th>
                                <th>تعديل</th>
                                <th>إجراء</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="3" style="color:red">
                                        لا يوجد نتائج
                                    </td>
                                </tr>
                            }
                            else
                            {

                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td> @Html.DisplayFor(modelItem => item.Type)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                        </td>
                                        <td> @Html.DisplayFor(modelItem => item.UsersNameAddType)</td>
                                        <td>
                                            <a class="btn btn-sm btn-icon item-edit" asp-action="Edit" asp-route-id="@item.Id"><i class="bx bxs-edit"></i></a>
                                        </td>
                                        <td style="">
                                            <div class="d-inline-block">
                                                <button class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li>
                                                        <a class="dropdown-item" asp-action="DetailsCategoriesComplaints" asp-route-id="@item.Id">
                                                            <i class="bi bi-eye icon-padding icon-color"></i>

                                                            عرض
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn btn-sm btn-icon item-edit" asp-action="Edit" asp-route-id="@item.Id">تعديل</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item text-danger delete-record" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                                                    </li>

                                                </ul>

                                            </div>

                                        </td>

                                    </tr>
                                }
                            }


                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>




<div class="content-backdrop fade"></div>
